<!DOCTYPE html>
<html>
<head>
    <title>My First Flask App - Add User</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <h1>Add a New User</h1>
    <form action="/add_user" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Add User</button>
    </form>
</body>
</html>